<div class="container">
  @if (homeNewsMetadataValue$ | async; as homeNewsMetadataValue) {
  <div class="jumbotron jumbotron-fluid shadow mb-5 pb-2 rounded">
    <ds-markdown-viewer [value]="homeNewsMetadataValue"></ds-markdown-viewer>
  </div>
  }
  @else {
  <div class="jumbotron jumbotron-fluid shadow mb-5 pb-2 rounded">
    <div class="d-flex flex-wrap">
      <div class="mx-auto text-center">
        <h1 class="heading">MBRU Knowledge Repository</h1>
        <p class="lead">Knowledge Repository at Mohammed Bin Rashid University of Medicine and Health Sciences</p>
      </div>

      <p class="mx-auto text-center">Welcome to digital archive and research repository of Mohammed Bin Rashid
        University of Medicine and Health Sciences (MBRU). MBRU Knowledge Repository is a digital service that
        collects, preserves, and distributes digital material. MBRU's scholarly communications including theses,
        faculty publications, student projects, and departmental records and publications are the key digital
        records available in this repository. Repositories are important tools for preserving an organization's
        legacy; they facilitate digital preservation and scholarly communication.</p>
      <p class="mx-auto text-center">University users are requested to log-in to view the full-text.</p>
    </div>
  </div>
  }
</div>
